*{
  margin: 0px;
  padding: 0px; 
}

body{
  background-color: rgb(14, 12, 49);
  text-align: center;
}

.app-name{
  color: rgb(255, 255, 0);
  margin-top: 100px;
  font-size: 70px;
  padding: 20px;
}

.todos{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;

}

.todo-data{
  margin-bottom: 50px;
}

.todo{
  background-color: white;
  font-size: 30px;
  border-radius: 1rem;
  width: 550px;
  height: 50px;
  margin-top: 10px;
  padding-top: 17px;
  text-align: left;
}

.view-btn{
  text-decoration: none; 
  color:rgb(66, 62, 136);
  font-size: 20px;
  float: right;
  margin-right: 20px;
} 

 .back-btn,.add-btn{
  text-decoration: none; 
  background-color: white;
  color: rgb(14, 12, 49);
  padding: 10px 20px;
  border-radius: 1rem;
  font-size: 20px;
 }


.form{
  color: yellow;
  font-size: 25px;
  margin-bottom: 40px;
}

input{
  background-color: white;
  color: rgb(14, 12, 49);
  margin: 10px;
  padding: 10px;
}